Language: Cpp

BasedOnStyle: WebKit

# 使用空格而不是 Tab
UseTab: Never

# 缩进 4 字符
IndentWidth: 4
TabWidth: 4

# 访问修饰符（public）等靠左对齐
AccessModifierOffset: -4
AlignTrailingComments:
  Kind: Always
  OverEmptyLines: 0

# 大括号的换行规则
BreakBeforeBraces: Attach

# 模板定义的换行规则
BreakTemplateDeclarations: Yes

# 最大列宽度
ColumnLimit: 100

# 空大括号 {} 中默认加一个空格
SpaceInEmptyBraces: Always

# 是否允许短的函数，语句块等单独一行
AllowShortIfStatementsOnASingleLine: AllIfsAndElse
AllowShortBlocksOnASingleLine: Empty
AllowShortFunctionsOnASingleLine: All

BreakBeforeBinaryOperators: NonAssignment
PenaltyBreakAssignment: 2
PenaltyBreakString: 2
AlignConsecutiveAssignments:
  Enabled: true
